@import 'normalize.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeSpeed;
}
ul,
ol {
    list-style: none;
    /* Loại bỏ dấu chấm/số đầu dòng */
    padding-left: 0;
    /* Loại bỏ khoảng đệm bên trái mặc định */
    margin-bottom: 0;
    /* Bootstrap thường thêm margin-bottom, bạn có thể reset ở đây nếu muốn */
}